In [ ]:
from google.colab import files
uploaded = files.upload()

Saving financials2.xlsx to financials2.xlsx

In [ ]:
!pip install kmodes
import numpy as np
import pandas as pd
from kmodes.kprototypes import KPrototypes

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kmodes
  Downloading kmodes-0.12.1-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.1.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.21.6)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.0->kmodes) (3.1.0)
Installing collected packages: kmodes
Successfully installed kmodes-0.12.1

In [ ]:
df = pd.read_excel('financials2.xlsx')

In [ ]:
df.head()

,Symbol,Sector,Clusters,Price,PE,Dividend Yield,Earnings/Share,Market Cap,EBITDA,Price/Sales,PB
0,MMM,Industrials,7,222.89,24.31,2.332862,7.92,138721055226,9.048000e+09,4.390271,11.34
1,AOS,Industrials,2,60.24,27.76,1.147959,1.70,10783419933,6.010000e+08,3.575483,6.35
2,ABT,Health Care,3,56.27,22.51,1.908982,0.26,102121042306,5.744000e+09,3.740480,3.19
3,ABBV,Health Care,7,108.48,19.41,2.499560,3.29,181386347059,1.031000e+10,6.291571,26.14
4,ACN,Information Technology,0,150.51,25.47,1.714470,5.44,98765855553,5.643228e+09,2.604117,10.62

In [ ]:
df.isna().sum()

Symbol            0
Sector            0
Clusters          0
Price             0
PE                2
Dividend Yield    0
Earnings/Share    0
Market Cap        0
EBITDA            0
Price/Sales       0
PB                8
dtype: int64

In [ ]:
df = df.fillna(df.mean())
df.isna().sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Symbol            0
Sector            0
Clusters          0
Price             0
PE                0
Dividend Yield    0
Earnings/Share    0
Market Cap        0
EBITDA            0
Price/Sales       0
PB                0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          505 non-null    object
 1   Sector          505 non-null    object
 2   Clusters        505 non-null    int64
 3   Price           505 non-null    float64
 4   PE              505 non-null    float64
 5   Dividend Yield  505 non-null    float64
 6   Earnings/Share  505 non-null    float64
 7   Market Cap      505 non-null    int64
 8   EBITDA          505 non-null    float64
 9   Price/Sales     505 non-null    float64
 10  PB              505 non-null    float64
dtypes: float64(7), int64(2), object(2)
memory usage: 43.5+ KB

In [ ]:
categorical_features_idx = [0,1]

In [ ]:
mark_array=df.values

In [ ]:
kproto = KPrototypes(n_clusters=2, verbose=2, max_iter=20).fit(mark_array, categorical=categorical_features_idx)

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/20, moves: 71, ncost: 1.7990747220969516e+24
Run: 1, iteration: 2/20, moves: 25, ncost: 1.5638435473819055e+24
Run: 1, iteration: 3/20, moves: 2, ncost: 1.5598241641695297e+24
Run: 1, iteration: 4/20, moves: 1, ncost: 1.5589957949244247e+24
Run: 1, iteration: 5/20, moves: 0, ncost: 1.5589957949244247e+24
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/20, moves: 37, ncost: 1.6376864687679085e+24
Run: 2, iteration: 2/20, moves: 11, ncost: 1.5608289538230197e+24
Run: 2, iteration: 3/20, moves: 1, ncost: 1.5598241641695297e+24
Run: 2, iteration: 4/20, moves: 1, ncost: 1.5589957949244247e+24
Run: 2, iteration: 5/20, moves: 0, ncost: 1.5589957949244247e+24
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 3, iteration: 1/20, moves: 16, ncost: 1.5608289538230197e+24
Run: 3, iteration: 2/20, moves: 1, ncost: 1.5598241641695297e+24
Run: 3, iteration: 3/20, moves: 1, ncost: 1.5589957949244247e+24
Run: 3, iteration: 4/20, moves: 0, ncost: 1.5589957949244247e+24
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 4, iteration: 1/20, moves: 13, ncost: 1.5608289538230197e+24
Run: 4, iteration: 2/20, moves: 1, ncost: 1.5598241641695297e+24
Run: 4, iteration: 3/20, moves: 1, ncost: 1.5589957949244247e+24
Run: 4, iteration: 4/20, moves: 0, ncost: 1.5589957949244247e+24
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 5, iteration: 1/20, moves: 24, ncost: 1.6376864687679085e+24
Run: 5, iteration: 2/20, moves: 11, ncost: 1.5608289538230197e+24
Run: 5, iteration: 3/20, moves: 1, ncost: 1.5598241641695297e+24
Run: 5, iteration: 4/20, moves: 1, ncost: 1.5589957949244247e+24
Run: 5, iteration: 5/20, moves: 0, ncost: 1.5589957949244247e+24
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 6, iteration: 1/20, moves: 3, ncost: 1.5598241641695297e+24
Run: 6, iteration: 2/20, moves: 1, ncost: 1.5589957949244247e+24
Run: 6, iteration: 3/20, moves: 0, ncost: 1.5589957949244247e+24
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 7, iteration: 1/20, moves: 58, ncost: 1.732742758394042e+24
Run: 7, iteration: 2/20, moves: 19, ncost: 1.5638435473819055e+24
Run: 7, iteration: 3/20, moves: 2, ncost: 1.5598241641695297e+24
Run: 7, iteration: 4/20, moves: 1, ncost: 1.5589957949244247e+24
Run: 7, iteration: 5/20, moves: 0, ncost: 1.5589957949244247e+24
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 8, iteration: 1/20, moves: 18, ncost: 1.5608289538230197e+24
Run: 8, iteration: 2/20, moves: 1, ncost: 1.5598241641695297e+24
Run: 8, iteration: 3/20, moves: 1, ncost: 1.5589957949244247e+24
Run: 8, iteration: 4/20, moves: 0, ncost: 1.5589957949244247e+24
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 9, iteration: 1/20, moves: 48, ncost: 1.6779035364625377e+24
Run: 9, iteration: 2/20, moves: 15, ncost: 1.5608289538230197e+24
Run: 9, iteration: 3/20, moves: 1, ncost: 1.5598241641695297e+24
Run: 9, iteration: 4/20, moves: 1, ncost: 1.5589957949244247e+24
Run: 9, iteration: 5/20, moves: 0, ncost: 1.5589957949244247e+24
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 10, iteration: 1/20, moves: 355, ncost: 2.546393078115947e+24
Run: 10, iteration: 2/20, moves: 88, ncost: 1.790375598646116e+24
Run: 10, iteration: 3/20, moves: 24, ncost: 1.5638435473819057e+24
Run: 10, iteration: 4/20, moves: 2, ncost: 1.5598241641695297e+24
Run: 10, iteration: 5/20, moves: 1, ncost: 1.5589957949244247e+24
Run: 10, iteration: 6/20, moves: 0, ncost: 1.5589957949244247e+24
Best run was number 1

In [ ]:
# Cluster Centroids
print(kproto.cluster_centroids_)

[['5.758620689655173' '208.70551724137923' '31.389310344827706'
  '2.0645392396551707' '5.827241379310352' '336616456568.8276'
  '22192862068.96552' '4.55708716068967' '14.525172413793133' 'AAPL'
  'Information Technology']
 ['3.3529411764705883' '97.44119747899161' '24.40745121706736'
  '1.8856825057647053' '3.6274159663865517' '31731173127.94958'
  '2456980474.4399157' '3.9042133333403366' '14.448792925620962' 'A'
  'Consumer Discretionary']]

In [ ]:
# Prediction
clusters = kproto.predict(mark_array, categorical=categorical_features_idx)

In [ ]:
df['cluster'] = list(clusters)

Cluster 1 samples:

In [ ]:
df[df['cluster']== 0].head(10)

,Symbol,Sector,Clusters,Price,PE,Dividend Yield,Earnings/Share,Market Cap,EBITDA,Price/Sales,PB,cluster
27,GOOGL,Information Technology,1,1007.71,31.48,0.000000,22.27,733823966137,3.421700e+10,6.801692,4.70,0
28,GOOG,Information Technology,1,1001.52,40.29,0.000000,22.27,728535558140,3.271400e+10,6.772653,4.67,0
30,AMZN,Consumer Discretionary,1,1350.50,296.16,0.000000,6.16,685873374731,1.613200e+10,3.927053,24.28,0
51,AAPL,Information Technology,5,155.15,16.86,1.579541,9.20,809508034020,7.938600e+10,3.458609,5.66,0
58,T,Telecommunication Services,5,35.57,12.14,5.415651,4.76,226713270000,4.965300e+10,1.408315,1.80,0
66,BAC,Financials,7,29.74,16.34,1.536000,1.55,321478200969,0.000000e+00,3.201187,1.24,0
70,BRK.B,Financials,7,191.42,30.43,0.000000,9.76,261401203633,0.000000e+00,1.432823,1.58,0
75,BA,Industrials,7,329.66,27.29,1.964840,13.47,205617405233,1.247600e+10,2.156061,182.86,0
105,CVX,Energy,5,112.30,27.52,3.885853,4.85,218978820159,2.887700e+10,1.648986,1.71,0
113,CSCO,Information Technology,7,38.77,17.87,2.875558,1.91,199425716482,1.544700e+10,5.484418,3.07,0

CLuster 2 samples:

In [ ]:
df[df['cluster']==1].head(10)

,Symbol,Sector,Clusters,Price,PE,Dividend Yield,Earnings/Share,Market Cap,EBITDA,Price/Sales,PB,cluster
0,MMM,Industrials,7,222.89,24.31,2.332862,7.92,138721055226,9.048000e+09,4.390271,11.34,1
1,AOS,Industrials,2,60.24,27.76,1.147959,1.70,10783419933,6.010000e+08,3.575483,6.35,1
2,ABT,Health Care,3,56.27,22.51,1.908982,0.26,102121042306,5.744000e+09,3.740480,3.19,1
3,ABBV,Health Care,7,108.48,19.41,2.499560,3.29,181386347059,1.031000e+10,6.291571,26.14,1
4,ACN,Information Technology,0,150.51,25.47,1.714470,5.44,98765855553,5.643228e+09,2.604117,10.62,1
5,ATVI,Information Technology,9,65.83,31.80,0.431903,1.28,52518668144,2.704000e+09,10.595120,5.16,1
6,AYI,Industrials,0,145.41,18.22,0.351185,7.43,6242377704,5.878000e+08,1.795347,3.55,1
7,ADBE,Information Technology,9,185.16,52.31,0.000000,3.39,94550214268,2.538040e+09,13.092818,11.06,1
8,AAP,Consumer Discretionary,0,109.63,19.54,0.218321,6.19,8123611867,8.539410e+08,1.130106,2.51,1
9,AMD,Information Technology,6,11.22,187.00,0.000000,0.03,11191663795,3.390000e+08,2.109195,21.47,1

reference: https://towardsdatascience.com/clustering-algorithm-for-data-with-mixed-categorical-and-numerical-features-d4e3a48066a0